@import '~@fluentui/react/dist/sass/References.scss';

.noticeAndWarning {
  overflow: hidden;
  padding: 1em;
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }

  &.info {
    color: "[theme:neutralPrimary, default:#0078d7]";
    background-color: "[theme:themeLighter, default:#deecf9]";
    border: 1px solid "[theme:neutralPrimary, default:#0078d7]";
  }

  &.warning {
    color: #797673;
    background-color: #fff4ce;
    border: 1px solid #797673;
  }

  &.errorBadge {
    color: "[theme:neutralPrimary, default:#0078d7]";
    background-color: #fed9cc;
    border: 1px solid #d83b01;
  }

  &.Accepted {
    color: #107c10;
    background-color: #dff6dd;
    border: 1px solid #107c10;
  }

  &.ShieldAlert {
    color: #a80000;
    background-color: #fde7e9;
    border: 1px solid #a80000;
  }

  &.BlockedSite {
    color: #fff4ce;
    background-color: #a80000;
    border: 1px solid #fff4ce;
  }
}

.header {
  display: flex;
  align-items: center;
  padding: 12px 15px 0 15px;
}

.icon {
  font-size: 20px;
  margin-bottom: 11px;
  padding-right: 14px;
}
